@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-condensed-v25-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/roboto-condensed-v25-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-condensed-v25-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/roboto-condensed-v25-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-condensed-v25-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-condensed-v25-latin-regular.svg#RobotoCondensed")
      format("svg"); /* Legacy iOS */
}

:root{
  --line-border-fill: rgb(51,102,204);
  --line-border-empty:  rgb(234,138,36);
}

*{
  box-sizing: border-box;
}

body{
  background-color: rgb(0,12,34)  ;
  font-family: "Roboto Condensed" ;
  display:flex;
  align-items: center;
  justify-content: center;
  height:100vh;
  overflow:hidden;
  margin:0;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position:relative;
  margin-bottom: 2rem;
  /* max-width: 100%;
  width:350px; */
  width: clamp(300px, 50vw, 900px)
}

.progress-container::before {
  content:"";
  background-color: var( --line-border-empty);
  position:absolute;
  top:50%;
  left:0;
  transform: translateY(-50%);
  height:4px;
  width:100%;
  z-index: -1;
 
}

.progress {
  background-color: var( --line-border-fill);
  position:absolute;
  top:50%;
  left:0;
  transform: translateY(-50%);
  height:4px;
  width:0%;
  z-index: -1;
  transition:0.4s ease;
}

.circle {
  background-color:rgb(6,24,57);
  color: rgb(150,197,252);
  border-radius: 50%;
  height: 30px;
  width:30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var( --line-border-empty);
  transition: 0.4s ease;
}

.circle.active{
  border-color: var( --line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: rgb(0,12,34);
  border: 0;
  border-radius:6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin:5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98)
}

.btn:focus{
  outline:0;
}

.btn:disabled {
  background-color: rgb(234,138,36);
  cursor: not-allowed;
}